.nav-container {
  height: 90px;
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-left: 10px;
  padding-right: 30px;
}

body {
  background-color: rgb(233, 233, 233);
}

.icon-button {
  position: relative;

  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: white;
  border: none;
  outline: none;

}

.icon-button:hover {
  cursor: pointer;
}


.icon-button__badge {
  position: absolute;
  color: #fff;
  background-color: #f5424e;
  font-size: 11px;
  padding: 3px 10px;
  border-radius: 8px;
  top: -5px;
  right: -5px;
}

.sidebar {
  width: 15% !important;
  
  background-color: white;
  margin-top: 100px;

  padding-left: 20px;
  padding-right: 20px;
}

.ring-container {
  position: relative;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: #62bd19;
  border-radius: 50%;
  position: absolute;
  top: 23px;
  left: -15px;
}


.sidebar-bottom {
  bottom: 20px;
  position: absolute;
}

.main-container {
  width: 84%;

  background-color: white;
  margin-left: 10px;
  padding: 30px;
  margin-top: 100px;


}

a {
  text-decoration: none;
  color: black;
}

.hamburger{
  display: none;
  cursor: pointer;
}

@media (max-width:768px){
  .sidebar{
    display: none;
  }

  .main-container{
    width: 100%;
    margin-left: 0px;
  }

  .logo{
    display: none;
  }

  .hamburger{
    display: flex;
  }
}